<div class="alert alert-danger error-selected">
    Check at least 1 element
</div>

<table class="table" style="margin-top: 50px;">
    <tr>
        <th></th>
        <th>id</th>
        <th>name</th>
        <th>surname</th>
        <th>date of birth</th>
        <th>mobile number</th>
        <th>address</th>
        <th>
            <button data-ng-click="editSelected()" class="btn btn-info col-md-8 edit-selected">
                <i class="glyphicon glyphicon-edit"></i>
                Edit selected
            </button>
        </th>
    </tr>
    <tr data-ng-show="userList.length > 0" data-ng-repeat="user in userList">
        <td><input data-ng-show="!user.edit" type="checkbox" data-ng-change="checkAsSelected(user.id, user.checked)" data-ng-model="user.checked"></td>
        <td>
            <span>{{user.id}}</span>
        </td>
        <td class="name">
            <span data-ng-show="!user.edit">{{user.name}}</span>
            <input name="name" type="text" data-ng-model="user.name" data-ng-show="user.edit">
        </td>
        <td>
            <span data-ng-show="!user.edit">{{user.surname}}</span>
            <input type="text" data-ng-model="user.surname" data-ng-show="user.edit">
        </td>
        <td>
            <span data-ng-show="!user.edit">{{user.date}}</span>
            <input type="text" data-ng-model="user.date" data-ng-show="user.edit">
        </td>
        <td>
            <span data-ng-show="!user.edit">{{user.mobile}}</span>
            <input type="text" data-ng-model="user.mobile" data-ng-show="user.edit">
        </td>
        <td>
            <span data-ng-show="!user.edit">{{user.address}}</span>
            <input type="text" data-ng-model="user.address" data-ng-show="user.edit">
        </td>
        <td>
            <button data-ng-show="!user.edit && !editMulti" data-ng-click="editUser(user.id)" class="btn btn-info col-md-4 btn-edit">
                <i class="glyphicon glyphicon-edit"></i>
                Edit
            </button>
            <button data-ng-show="!user.edit && !editMulti" data-ng-click="deleteUser(user)" class="btn btn-danger col-md-4 btn-delete">
                <i class="glyphicon glyphicon-remove"></i>
                Delete
            </button>
            <button data-ng-show="user.edit && !editMulti" data-ng-click="save(user.id)" class="btn btn-danger col-md-4 btn-save">
                <i class="glyphicon glyphicon-save"></i>
                Save
            </button>
        </td>
    </tr>
</table>